body {
  background: url('../images/old_vhs_stack.jpeg');
}

/**
 * fixes zoom issue with mobile devices
 * additionally the font-size looks good
 * on larger devices as well.
 */
input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"]
{
  font-size: 16px;
}

/*overrides overly tight radio button spacing from app.css*/
span.star-cb-group input[type=radio]
{
  margin: 5px;
}

/* movie.show aligns title lable under movie title */
.movie-title-label {
    margin: -10px 0 20px 0;
    font-style: italic;
}
